{
  "trello": {
    "base_uri": "https://api.trello.com/1",
    "folder_json_path": "trello/jsonfiles/",
    "key": "",
    "token": ""
  },
  "pivotal": {
    "base_uri": "https://www.pivotaltracker.com/services/v5",
    "folder_json_path": "pivotal/jsonfiles/",
    "token": ""
  },
  "log_path": "logs/logFile.log"
}

